<div class="h-title jumbotron home">
  <h1><%= I18n.t('customs.app.name') %></h1>
  <h2><%= I18n.t('customs.app.front_message') %></h2>

  <%= link_to I18n.t('customs.buttons.signup'), new_user_registration_path,
    class: "btn btn-lg btn-success" %>
  <%= link_to I18n.t('customs.buttons.login'), new_user_session_path,
    class: "btn btn-lg btn-success" %>
  <%= link_to I18n.t('customs.buttons.facebook_login'), user_facebook_omniauth_authorize_url,
    class: "btn btn-lg btn-success" %>
</div>
