<li id="user-<%= user.id %>" class="user friend-candidate
  d-md-flex align-items-center">
  <%= content_tag(:div, profile_img_for(user)) %>
  <div class="user-info w-100 mx-3">
    <%= link_to user.name.full, user_path(user), class: "user-name" %>
    <%= content_tag(:div, "Friends: #{user.friends.count}", class: "friends") %>
  </div>
  <div class="ml-auto flex-shrink-1">
    <%= render 'friendships/request_buttons', user: user, message: message %>
  </div>
</li>
