<li id="user-<%= user.id %>" class="user friend-candidate
  d-sm-flex justify-content-start align-items-center">
  <%= profile_img_for user %>
  <div class="user-info">
    <%= link_to user.name.full, user_path(user), class: "user-name" %>
    <%= content_tag(:div, "(friends count: 9, temp)", class: "friends") %>
  </div>
  <%= link_to I18n.t('customs.buttons.request_friend'), "#",
    data: { confirm: "This is not implemented yet, please click cancel"},
    class: "friendship-request btn btn-md btn-light" %>
</li>
