<% provide(:title, I18n.t("customs.titles.#{@friends.keys.last}", name: current_user.name.possessive)) %>
<section class="users list-style-none">
  <% @friends.each do |friend_type, friend_group| %>
    <% if friend_type == :friend_requests %>
      <%= link_to 'view sent requests', users_path(type: 'pending_friends'), class: "ml-5" %>
    <% end %>
    <h6 class="mt-4 h-title" id=<%= friend_type %>>
      <%= I18n.t("customs.titles.#{friend_type}",
        name: current_user.name.possessive) %>
    </h6>
    <ol class=<%= friend_type %>>
      <%= render friend_group %>
    </ol>
    <%= will_paginate friend_group %>
  <% end %>
</section>
