<div class="d-sm-flex">
  <div class="">
    <%= profile_img_for @post.author %>
    <%= link_to @post.author.name.full, user_path(@post.author), class: :author %>
    <%= content_tag(:div, "Posted #{ time_ago_in_words(@post.created_at) } ago.",
      class: :timestamp) %>
  </div>
<% if current_user?(@post.author) %>
  <div class="ml-auto post-updates">
    <%= link_to I18n.t('customs.buttons.edit'), edit_post_path(@post) %>
    <%= link_to I18n.t('customs.buttons.delete'), post_path(@post), method: :delete,
      data: { confirm: I18n.t('customs.ask.delete') } %>
  </div>
<% end %>
</div>
