<li id="post-<%= post.id %>" class="post">
  <%= profile_img_for post.author %>
  <%= link_to post.author.name.full, user_path(post.author), class: :author %>
  <%= content_tag(:div, "Posted #{ time_ago_in_words(post.created_at) } ago.",
    class: :timestamp) %>
  <%= content_tag(:div, post.content, class: :content) %>
  <%= render 'posts/post_footer', post: post %>
</li>
