<header class="bg-success fixed-top">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light px-0 py-1">
      <%= link_to I18n.t('customs.app.name'), root_path, id: "logo", class: "navbar-brand text-white" %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li class="nav-item list-inline-item">
            <%= link_to I18n.t('customs.navbars.profile'), user_path(current_user), class: "nav-link" %>
          </li>
        <% end %>
          <li class="nav-item list-inline-item">
            <%= link_to I18n.t('customs.navbars.home'), root_path, class: "nav-link" %>
          </li>
        <% if user_signed_in? %>
          <li class="nav-item list-inline-item">
            <%= link_to I18n.t("customs.navbars.find_friends"), users_path, class: "nav-link" %>
          </li>
          <li class="nav-item list-inline-item dropdown">
            <%= render 'layouts/notification' %>
          </li>
          <li class="nav-item list-inline-item">
            <%= link_to I18n.t('customs.navbars.logout'), destroy_user_session_path,
              method: :delete, class: "nav-link" %>
          </li>
        <% end %>
        </ul>
      </div>
    </nav>
  </div>
</header>
