<header class="bg-success fixed-top border-bottom">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light px-0 py-1">
      <%= link_to I18n.t('customs.app.name'), root_path, id: "logo", class: "navbar-brand text-white" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li class="nav-item list-inline-item">
            <%= profile_img_for(current_user) %>
            <%= link_to current_user.name.familiar, user_path(current_user), class: "nav-link float-left" %>
          </li>
        <% end %>
          <li class="nav-item list-inline-item">
            <%= link_to I18n.t('customs.navbars.home'), root_path, class: "nav-link" %>
          </li>
        <% if user_signed_in? %>
          <li class="nav-item list-inline-item">
            <%= link_to I18n.t("customs.navbars.find_friends"), users_path, class: "nav-link" %>
          </li>
          <li class="nav-item list-inline-item dropdown">
            <%= render 'layouts/notification' %>
          </li>
          <li class="nav-item list-inline-item">
            <%= link_to I18n.t('customs.navbars.logout'), destroy_user_session_path,
              method: :delete, class: "nav-link" %>
          </li>
        <% end %>
        </ul>
      </div>
    </nav>
  </div>
</header>
