<% @user = current_user %>
<header class="navbar navbar-fixed-top navbar-inverse bg-success">
  <div class="container">
    <%= link_to "Moim", root_url, id: "logo" %>
    <nav class="nav navbar-nav navbar-right">
      <ul class="list-inline">
      <% if @user %>
        <li class="list-inline-item">
          <%= link_to "Profile", profile_url(@user) %>
        </li>
      <% end %>
        <li class="list-inline-item">
          <%= link_to "Home", root_url %>
        </li>
      <% if @user %>
        <li class="list-inline-item">
          <%= link_to "Find Friends", "#" %>
        </li>
        <li class="list-inline-item">
          <%= link_to 'Log out', destroy_user_session_url, method: :delete %>
        </li>
      <% end %>
      </ul>
    </nav>
  </div>
</header>
